header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

.logo {
    width: 145px;
    height: 60px;
    padding-left: 20px;
    background: url("../images/logo.png") no-repeat;
    padding-left: 20px;
}